<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<security>
				<authentication>
					<!--<windowsAuthentication enabled="true" />
					<anonymousAuthentication enabled="false" />-->
				</authentication>
				<requestFiltering allowDoubleEscaping="true" />
			</security>
			<aspNetCore processPath="dotnet" arguments=".\Trial.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.web>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
<!--ProjectGuid: 4b99053a-ca48-417d-a132-7ef2cd881fe0-->