@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@* <h2>User Info from Active Directory</h2>


<p><strong>Badge No:</strong> @ViewBag.IDCard</p>
<p><strong>Email:</strong> @ViewBag.Email</p> *@
@* <p><strong>Department:</strong> @ViewBag.Department</p> *@
